<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="hospital" class="xml.Hospital">
        <constructor-arg ref="doctor"/>
        <constructor-arg ref="department"/>
    </bean>
    <bean id="doctor" class="xml.Doctor"/>
    <bean id="department" class="xml.Department"/>

    </beans>
